/*Style taille ordinateur*/

/*Header*/

#page 
{
    background-color: rgb(221, 113, 40);
}

.remplissage 
{
    background-color: rgb(209, 84, 0);
    padding: 10px;
    float: none;
    position: relative;
}

.entete
{
    text-decoration: none;
}

ul 
{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    width: 200px;
    padding:10px;
    list-style:none;
    background-color: rgb(209, 84, 0);
    justify-content: center;
}

ul li 
{
    padding:10px 155px;
    position: relative;
    color:white;
}

ul li:hover {
    font-weight: bold;
}

ul li:hover ul
{
    display: block;
}

ul li a
{
    text-decoration: none;
    color:white;
}

ul li a:hover 
{
    color: white;
    font-weight: bold;
}

ul li ul li
{
    padding:10px;
}

ul ul
{
    position:absolute;
    top:0px;
    display:block;
    font-weight: lighter;
}	

ul.menu
{
    text-decoration: none;
    display:flex;
    width: 98%;
    padding: 0px;
    text-align:center;
    margin: 20px;
}

ul.menu li
{
    padding: 1% 8.5%;
}

ul.menu ul 
{
    position: absolute;
    top: 100%;
    display: none;
    margin: 0px 50px;
    width: 75%;
    left: -4.5%;
    padding: 0px;
}

ul.menu ul li
{
    padding: 10px;
}

#titre
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial;
    margin: 0px;
}

#slogan
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: Arial;
    margin: 10px 40px ;
}

/*Accueil*/

.image1
{
    display: flex;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.hlink /*hyperlink*/
{
    background-color: rgba(209, 84, 0,0.7);
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Arial;
    display: block;
    justify-content: left;
    margin: -160px 0px 0px 220px;
    padding: 10px;
}

.parag
{
    background-color: rgba(209, 84, 0,0.7);
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Arial;
    display: block;
    justify-content: left;
    text-align: left;
    position: absolute;
    margin: -105px 0px 0px 220px;
    padding: 10px;
}

.olink /*other link*/
{
    background-color: rgba(209, 84, 0,0.7);
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Arial;
    display: block;
    justify-content: center;
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

.conteneurPages
{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom:-70px;
    padding-left:16%;
    display: block;
    height:600px;
    background-color: rgb(61, 29, 148);
}

.conteneurPagesdiv
{
    width:300px;
    height:500px;
    float: left;
    text-align:center;
    font-family: Arial;
    text-decoration: none;
    margin-left:25px;
    padding: 5px;
    justify-content: center;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 1em;
}

.conteneurPagesdiv div
{
    background-color: rgb(255, 114, 20, 0.7);
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Arial;
    display: block;
    justify-content: center;
    margin: -100px 0px 0px 50px;
    width:200px;
    height:auto;
    border-radius: 0.15em;
}

.conteneurPagesdiv a
{
    color: white;
    font-size: 17.5px;
    font-family: Arial;
    justify-content: center;
    text-align: ceter;
}

.conteneurPagesdiv a:hover
{
    color: rgb(33, 15, 83);
    opacity:0.85;
}

#footerText
{
    font-size: 12.5px;
    text-align: center;
    color:white;
    font-family: Arial;
}

.conteneurPartenaires 
{
    width:60%;
    height:130px;
    margin-top: -20px;
    margin-right: 0px;
    padding-left:35%;
    justify-content: center;
    margin-bottom: -40px;
}

.conteneurPartenaires div
{
    float:left;
    width:auto;
    height:50px;
    margin-left:-15px;
    padding: 20px;
    justify-content: center;
}

.conteneurSocMedia 
{
    width:50%;
    height:100px;
    margin-top: -30px;
    padding-left:44.75%;
    justify-content: center;
    margin-bottom: -30px;
}

.conteneurSocMedia div
{
    float:left;
    width:30px;
    height:30px;
    margin-left:-20px;
    padding: 25px;
    justify-content: center;
}

#copyright
{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    color:white;
    font-family: Arial;
}

#titre2
{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Arial;
    margin-left: 20px; 
}

#titre3
{
    text-align: center;
    color: rgb(61, 29, 148);
    font-size: 20px;
    font-family: Arial;
    margin-left: 50px; 
}

.conteneurBillets 
{
    width:45%;
    height:470px;
    margin: -20px 0px 20px 410px;
    justify-content: center;
    border: 1.5px solid white;
}

.conteneurBilletsdiv 
{
    float:left;
    width:auto;
    height:25%;
    margin-left: 0px;
    margin-top: 10px;
    padding-right: 10px;
}

.conteneurBilletsdiv p
{
    margin-top: 0px;
}

.conteneurTBillets 
{
    float:left;
    margin: -20px 0px 0px 20px;
    justify-content: center;
}

.conteneurTBillets div
{
    float:left;
    width:auto;
    height:100px;
    margin-left: -10px;
    margin-top:-10px;
    padding: 15px;
}

.conteneurTBillets div a
{
    background-color: rgb(61, 29, 148);
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Arial;
    display: block;
    margin: -50px 0px 0px 8.5px;
    padding: 5px;
    text-decoration: none;
}

.text-base
{
   opacity:1;
}

.text-hover
{
   display:none;
}
 
.button:hover span.text-base
{
   opacity:0;
}

.button:hover span.text-hover
{
   display:inherit;
   position:absolute;
}

/*Planning Matchs*/

#titre2m
{
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Arial;
    margin:-20px 0px 30px 20px;
}

.conteneurMatchs 
{
    width:45%;
    height:870px;
    margin: -20px 0px 20px 400px;
    justify-content: center;
    border: 1.5px solid white;
}

#titre3m
{
    text-align: center;
    color: rgb(61, 29, 148);
    font-size: 20px;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 0px; 
}

.conteneurMatchsdiv 
{
    float:left;
    width:auto;
    height:50%;
    margin-left: 0px;
    margin-top: 10px;
    padding-right: 10px;
}

.conteneurMatchsdiv p
{
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
}

.conteneurMatchsdiv div
{
    background-color: white;
    width:655px;
    margin-top: -10px;
    margin-left: 10px;
    border: 1.5px solid white;
}

.conteneurMatchsdiv div p
{
    padding-top:15px;
    font-size: 18px;
    font-family: Arial;
    color: rgb(61, 29, 148);
}

/*Page Type de Billeterie*/

.conteneurTypeBillets
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left:18%;
    display: block;
    height:580px;
    background-color: rgb(33, 15, 83);
}

.conteneurTypeBilletsdiv
{
    width:200px;
    height:500px;
    float: left;
    text-align:center;
    text-decoration: none;
    margin-left:20px;
    padding: 5px;
    justify-content: center;
    border: 1.5px solid rgba(196, 196, 196,0.7);
    border-radius: 1em;
}

.conteneurTypeBilletsdiv div
{
    background-color: rgb(255, 114, 20, 0.7);
    position: absolute;
    display: block;
    justify-content: center;
    margin-top: -80px;
    width:200px;
    height:50px;
}

.conteneurTypeBilletsdiv a
{
    color: white;
    font-size: 17.5px;
    font-family: Arial;
    font-weight: bolder;
}

.conteneurTypeBilletsdiv a:hover
{
    color: rgb(33, 15, 83);
    opacity:0.85;
}

/*Page de Connexion*/

.form
{
    text-align: center;
    background-color: rgba(196, 196, 196, 0.719);
    border:0px;
    border-radius: 0.5em;
    justify-content: center;
    padding:40px 0px 30px 0px;
    margin:50px 0px 50px 540px;
    width: 400px;
    height: auto;
}

#bar
{
    width: 250px;
    height: 27.5px;
    border-radius: 0.25em;
    border: 0px;
    margin: 5px;
}

#submit
{
    background-color: rgb(61, 29, 148);
    text-align: center;
    color: white;
    font-size: 17.5px;
    padding:7.5px;
    border-radius: 0.25em;
    border: 0px;
    width: 250px;
}

/*Page Joueurs*/

.conteneurJoueurs
{
    padding-bottom:-70px;
    padding-left:10.5%;
    display: block;
    height:1100px;
}

.picJoueurs
{
    width:300px;
    height:300px;
    float: left;
    margin:0px 50px 50px 50px;
    padding: 5px;
    justify-content: center;
}
.prénom
{
    position:absolute;
    text-align:right;
    margin-top:-3px;
    background-color:  rgb(61, 29, 148);
    border-radius: 0.1em;
    margin-top: -15px;
    margin-left:160px;
    width:140px;
    padding:3px 10px 3px 3px;
}

.picJoueurs a
{
    text-decoration: none;
    text-align: center;
    font-size: 17.5px;
    font-family: Arial;
    color: white;
}

/*Page Redirection*/

#loadingPay 
{
    display: flex;
    justify-content: center;
    height: 450px;
}

.waviy 
{
    position: relative;
}
    
.waviy span 
{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-family: Arial;
    color: white;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip 
{
    0%,80% 
    {
      transform: rotateY(360deg) 
    }
}